.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th,
  td {
    color:rgb(255, 255, 255); font-family: 'Lato', sans-serif; font-size: 30px; font-weight: 300; line-height: 50px; margin: 0 0 0px;
  }
  
  th {
    background-color: rgb(79, 208, 231);
    max-width: 40rem;
    height: 3rem;
  }
  
  td {
    background-color: rgb(205, 235, 253);
    max-width: 40rem;
    height: 3rem;
  }
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 28px;
  }